:root {
  --font: "barlow", sans-serif;
  --violet: hsl(263, 55%, 52%);
  --grayBlue: hsl(217, 19%, 35%);
  --darkBlue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 81%);
  --lightGray: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: barlow;
  src: url(./font/BarlowSemiCondensed-Thin.ttf);
}

html {
  font-size: 13px;
  font-weight: 500;
}

body {
  background-color: var(--gray);
  font-family: var(--font);
  color: var(--white);
}

h1 {
  display: none;
}

img {
  display: inline-block;
  border-radius: 50%;
  transform: scale(0.7);
  color: var(--grayBlue);
}
.main-body {
  width: 250px;
  margin: 20px;
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 20px;
}
.card {
  background-color: var(--violet);
  border-radius: 10px;
  padding: 30px;
}
.card-1 {
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 80% 0%;
}

.card-2 {
  background-color: var(--grayBlue);
}

.card-3 {
  background-color: var(--white);
  color: black;
}

.card-4 {
  background-color: var(--darkBlue);
}

.card-5 {
  background-color: var(--white);
  color: black;
}
.headline {
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 20px;
}
.verified-tag {
  font-size: 10px;
}
.names-tags-img {
  display: flex;
}
.name-tag {
  display: inline;
}

@media (min-width: 375px) {
  .main-body {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-auto-rows: minmax(250px, auto);

    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  .card-1 {
    grid-column: span 2;
  }
  .card-3 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .card-4 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .card-5 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
  }
}
